@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*Fall out boy CSS */

.falloutHome{
   background-image: url("https://media.giphy.com/media/3ohBVyZIedGgXbV85y/giphy.gif");
   background-size: 100%;
}


.falloutNav{
  margin-top: 28%;
  
}

.falloutNav div{
  transition:all .2s ease-in-out;
}

.falloutNav div:hover{
  font-size: 570%;
  color:black;
  opacity: 100%;
}

.fall-fact-container div{
  background-image: url("https://free2music.com/images/thumb/singer/2018/11/15/fall-out-boy_1.jpg,0,400.jpg");
  transition:all .2s ease-in-out;
}

.fall-fact-card:nth-child(1){
  transform: translateX(-150%) translateY(200%) rotate(-20deg);
}

.fall-fact-card:nth-child(2){
  transform: translateX(-130%) translateY(50%) rotate(-10deg)
}

.fall-fact-card:nth-child(3){
  transform: translateX(130%) translateY(50%) rotate(-10deg)
}

.fall-fact-card:nth-child(4){
  transform: translateX(80%) translateY(200%) rotate(10deg)
}

.fall-fact-card:hover{
  background-color: whitesmoke;
  background-image: none;
  color: black;
}

/*Guns CSS */

.gunsHome{
  background-image: url("https://media.giphy.com/media/3o6nUL0nqcYTuFoYSI/giphy.gif");
  background-size:100%;
}

.gunsNav{
  margin-top: 28%;
  
}

.gunsNav div{
  transition:all .2s ease-in-out;
}

.gunsNav div:hover{
  font-size: 570%;
  color:black;
}

.gun-fact-container div{
  background-image: url("https://free2music.com/images/thumb/singer/2018/11/15/fall-out-boy_1.jpg,0,400.jpg");
  transition:all .2s ease-in-out;
}

.gun-fact-card:nth-child(1){
  transform: translateX(-150%) translateY(200%) rotate(-20deg);
}

.gun-fact-card:nth-child(2){
  transform: translateX(-130%) translateY(50%) rotate(-10deg)
}

.gun-fact-card:nth-child(3){
  transform: translateX(130%) translateY(50%) rotate(-10deg)
}

.gun-fact-card:nth-child(4){
  transform: translateX(80%) translateY(200%) rotate(10deg)
}

.gun-fact-card:hover{
  background-color: whitesmoke;
  background-image: none;
  color: black;
}

/*Nirvana boy CSS */

.nirvanaHome{
  background-image: url("https://media.giphy.com/media/VmSttuhlSkfAXpuyFm/giphy.gif");
  background-size:100%;
}

.nirvanaHome h1{
  margin-top: 15%;
}

.nirvanaNav{
  margin-top: 15%;
 
}


.nirvanaNav div{
  transition:all .2s ease-in-out;
}

.nirvanaNav div:hover{
  font-size: 570%;
  color:black;
  background-color: none;
}

.nirvana-fact-container div{
  background-image: url("https://free2music.com/images/thumb/singer/2018/11/15/fall-out-boy_1.jpg,0,400.jpg");
  transition:all .2s ease-in-out;
  color: transparent;
}

.nirvana-fact-card:nth-child(1){
  transform: translateX(-150%) translateY(200%) rotate(-20deg);
}

.nirvana-fact-card:nth-child(2){
  transform: translateX(-130%) translateY(50%) rotate(-10deg)
}

.nirvana-fact-card:nth-child(3){
  transform: translateX(130%) translateY(50%) rotate(-10deg)
}

.nirvana-fact-card:nth-child(4){
  transform: translateX(80%) translateY(200%) rotate(10deg)
}

.nirvana-fact-card:hover{
  background-color: whitesmoke;
  background-image: none;
  color: black;
}


/*Metallica boy CSS */

.metllicaHome{
  background-image: url("https://media.giphy.com/media/d31x88jFvbNxJcxa/giphy.gif");
  background-size:100%;
}


.metllicaNav{
  margin-top: 28%;
  height: 60px;
}

.metllicaNav div{
  transition:all .2s ease-in-out;
}


.metllicaNav div:hover{
  font-size: 570%;
  color:black;
  background-color: none;
}

.metllica-fact-container div{
  background-image: url("https://free2music.com/images/thumb/singer/2018/11/15/fall-out-boy_1.jpg,0,400.jpg");
  transition:all .2s ease-in-out;
}

.metllica-fact-card:nth-child(1){
  transform: translateX(-150%) translateY(200%) rotate(-20deg);
}

.metllica-fact-card:nth-child(2){
  transform: translateX(-130%) translateY(50%) rotate(-10deg)
}

.metllica-fact-card:nth-child(3){
  transform: translateX(130%) translateY(50%) rotate(-10deg)
}

.metllica-fact-card:nth-child(4){
  transform: translateX(80%) translateY(200%) rotate(10deg)
}

.metllica-fact-card:hover{
  background-color: whitesmoke;
  background-image: none;
  color: black;
}




@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
